* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.banner {
  width: 1300px;
  height: 600px;
  border-radius: 16px;
  margin: 50px auto 120px;
  background-image: linear-gradient(to top, #07021100, #070211),
    url("../images/banner/Banner\ Image.png");
}

.banner-greeting {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding: 177px 530px 20px 530px;
  width: 260px;
  height: 40px;
}

.banner-info {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 630px;
  padding: 0 344px 177px 344px;
}

.offer-section {
  width: 800px;
  height: 700px;
  margin: 0 auto;
}

.offer-container {
  width: 410px;
  height: 260px;
  text-align: center;
  margin: 10px auto 50px;
}

.offer-title {
  width: 380px;
  height: 110px;
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 85px;
  font-weight: 700;
  margin: 20px auto 50px;
}

.offer-info {
  width: 400px;
  height: 30px;
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
}

.offer-categories {
  width: 410px;
  height: 55px;
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 50px;
}

.party-section {
  width: 1300px;
  height: 600px;
  border-radius: 16px;
  margin: 200px auto 150px;
  display: flex;
  background-image: linear-gradient(to left, #07021100, #070211),
    url("../images/banner/Vectorrr.png");
}

.party-section-container {
  padding: 130px 0 150px 126px;
}

.party-title {
  width: 642px;
  height: 176px;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  padding-bottom: 25px;
}

.party-description {
  width: 700px;
  height: 60px;
  color: #ffffffcc;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 50px;
  text-transform: uppercase;
}

#join-btn {
  width: 103px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
  margin-left: 30px;
  background: transparent;
  border: none;
}

#img {
  width: 320px;
  height: 465px;
  padding: 68px 138px 68px 50px;
}

.party-info {
  width: 1300px;
  height: 480px;
  margin: 0 auto 150px;
  background-image: linear-gradient(to bottom, #ff00001a, #ff000000);
}

.party-info-container {
  text-align: center;
  padding: 100px 380px;
}

.party-details {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600px;
  line-height: 56px;
}

.place-data-time {
  color: #f00;
  text-align: center;
}
#join-now-btn {
  margin-top: 50px;
  border: none;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.comming-soon-offer{
  width: 1300px;
  margin: 0 auto 150px;
  display: flex;
  justify-content: space-between;
}

.comming-soon{
  width: 390px;
  margin: auto 0;
}

.comming-soon-heading{
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}

.comming-soon-description{
  color: #07021199;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.comming-soon-img{
  border: 15px solid #f00;
  padding: 40px;
  width: 365px;
  height: 365px;
  border-radius: 50%;
  margin: auto 0;
}

.comming-soon-offer-greeting{
  width: 280px;
  margin: auto 0;
}

.greeting-title{
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

#greating-img{
  width: 140px;
  height: 140px;
  margin-top: 43px;
}

