* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.banner {
  max-width: 1300px;
  height: 600px;
  border-radius: 16px;
  margin: 50px auto 120px;
  background-image: linear-gradient(to top, #07021100, #070211),
    url("../images/banner/Banner\ Image.png");
}

.banner-greeting {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding: 177px 530px 20px 530px;
  width: 260px;
  height: 40px;
}

.banner-info {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 630px;
  padding: 0 344px 177px 344px;
}

.offer-section {
  width: 800px;
  height: 700px;
  margin: 0 auto;
}

.offer-container {
  width: 410px;
  height: 260px;
  text-align: center;
  margin: 10px auto 50px;
}

.offer-title {
  width: 380px;
  height: 110px;
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 85px;
  font-weight: 700;
  margin: 20px auto 50px;
}

.offer-info {
  width: 400px;
  height: 30px;
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}

.offer-categories {
  width: 410px;
  height: 55px;
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 50px;
}

.party-section {
  max-width: 1300px;
  height: 600px;
  border-radius: 16px;
  margin: 200px auto 150px;
  display: flex;
  background-image: linear-gradient(to left, #07021100, #070211),
    url("../images/banner/Vectorrr.png");
}

.party-section-container {
  padding: 130px 0 150px 126px;
}

.party-title {
  width: 642px;
  height: 176px;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  padding-bottom: 25px;
}

.party-description {
  width: 700px;
  height: 60px;
  color: #ffffffcc;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 50px;
  text-transform: uppercase;
}

#join-btn {
  width: 103px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
  margin-left: 30px;
  background: transparent;
  border: none;
}

#img {
  width: 320px;
  height: 465px;
  padding: 68px 138px 68px 50px;
}

.party-info {
  width: 1300px;
  height: 480px;
  margin: 0 auto 150px;
  background-image: linear-gradient(to bottom, #ff00001a, #ff000000);
}

.party-info-container {
  text-align: center;
  padding: 100px 380px;
}

.party-details {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600px;
  line-height: 56px;
}

.place-data-time {
  color: #f00;
  text-align: center;
}
#join-now-btn {
  margin-top: 50px;
  border: none;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.comming-soon-offer {
  width: 1300px;
  margin: 0 auto 150px;
  display: flex;
  justify-content: space-between;
}

.comming-soon {
  width: 390px;
  margin: auto 0;
}

.comming-soon-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 22px;
}

.comming-soon-description {
  color: #07021199;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0;
}

.comming-soon-img {
  border: 15px solid #f00;
  padding: 40px;
  width: 365px;
  height: 365px;
  border-radius: 50%;
  margin: auto 0;
}

.comming-soon-offer-greeting {
  width: 280px;
  margin: auto 0;
}

.greeting-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

#greating-img {
  width: 140px;
  height: 140px;
  margin-top: 43px;
}

.functional-section {
  width: 1300px;
  margin: 0 auto 150px;
}

.functional-section-header {
  width: 1000px;
  margin: 0 auto 65px;
  text-align: center;
}

.functional-section-intro {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}

.functional-section-heading {
  color: #070211;
  font-size: 70px;
  font-weight: 900;
  margin: 30px 0;
}

.holiday {
  color: #f00;
}

.functional-section-description {
  color: #07021199;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 60px;
}

.surprise-discount-section {
  background-image: url("../images/rectangle/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  display: flex;
}

.img-2 {
  width: 530px;
  height: 441px;
  background-image: url("../images/rectangle/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

.img-2 img {
  width: 230px;
  height: 230px;
  margin-top: 120px;
}

.portfolio-section {
  max-width: 1300px;
  margin: 0 auto 150px;
}

.portfolio-heading {
  width: 900px;
}

.portfolio-img-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 5px;
}

.subscribe-section {
  max-width: 1300px;
  margin: 0 auto 150px;
  background: #ff00000d;
  border-radius: 16px;
}

.subscribe-container {
  padding: 80px 215px;
  text-align: center;
}

#sub-img {
  width: 150px;
  height: 150px;
  padding-bottom: 40px;
}

#input-field {
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fff;
  height: 30px;
  width: 438px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 0;
}

#submit-btn {
  margin-left: 0;
  width: 210px;
  height: 47px;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #f00;
  padding: 10px 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.footer-section {
  width: 100%;
  background: #070211;
}

.address-container {
  display: flex;
  justify-content: space-between;
  padding: 120px 140px 50px 140px;
}
.address {
  width: 300px;
  height: 80px;
  line-height: 32px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.contact {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  line-height: 32px;
}

.nmbr {
  margin-left: 10px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.web {
  margin-left: 10px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

hr {
  width: 1300px;
  margin: 0 auto;
}

.media {
  text-align: center;
  margin: 48px 0;
}

.mi {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}

.copyrights-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 140px;
}

.unsbs {
  height: 80px;
  line-height: 32px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}
